@font-face {
  font-family: 'DIN Light';
  src: url('../assets/fonts/DIN/DIN-Light-Regular.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Helvectica';
  src: url('../assets/fonts/HelveticaNeueThin.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

.helvectica {
  font-family: 'Helvectica', sans-serif;
}

.text-align-last-center {
  text-align-last: center;
}
